# Django
__pycache__/
*.pyc
backend/venv/
backend/db.sqlite3
backend/.env*
backend/staticfiles/

# React
frontend/template_react/node_modules/
frontend/template_react/dist/
frontend/template_react/.env.local
