# Python / Django
*.pyc
__pycache__/
backend/venv/
backend/db.sqlite3
backend/.env

# Frontend / Node
frontend/template_react/node_modules/
frontend/template_react/dist/
.DS_Store

# IDE files
.vscode/